.logo {
	height: 60px;
}
.bg-danger-2 {
	background-color: #f04f33;
}
.tipe-produk {
	padding: 3px 5px 3px 5px;
}

.custom-title {
	padding: 0px;
	margin: 0px;
}

.empty {
	opacity: 0.5;
}

.no-border {
	border-bottom: 0em !important;
	border-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
@media (max-width: 400px) {
	/* .logo {
		height: 40px;
	}

	h3 {
		font-size: small;
	} */
	.full-img {
		height: 100%;
	}
	.mini-text {
		font-size: x-small;
		margin: 0px;
		padding: 0px;
	}
	.mini-form {
		height: calc(2rem + 2px);
		padding: 0.2rem 0.4rem;
		font-size: 0.8rem;
		line-height: 1.3;
	}
	.tipe-produk {
		padding: 0px 3px 0px 3px;
	}
	.produk .border-right {
		border-right: 0em !important;
		border-color: #fff;
	}
	.card-body span {
		/* font-size: small; */
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 0em;
	}

	.harga {
		/* font-size: x-small; */
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.card-body {
		padding: 8px;
	}

	.mini-card-body {
		padding: 2px 3px;
	}

	.mini-list {
		padding-left: 0px;
		padding-right: 0px;
	}

	.card-footer {
		padding: 3px;
	}
}

.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 60px;
	background-color: #353b48;
	border-radius: 30px;
	padding: 10px;
}

.search_input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color: transparent;
	line-height: 40px;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
	padding: 0 10px;
	width: 450px;
	caret-color: red;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
	background: white;
	color: #e74c3c;
}

.search_icon {
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: white;
	text-decoration: none;
}
.search-form {
	width: 100%;
	max-width: 790px;
	margin-bottom: 0;
}
.inner-form {
	background: #fff;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
}

.search-form .inner-form .input-field {
	height: 68px;
}

.search-form .inner-form .input-field input {
	height: 100%;
	background: transparent;
	border: 0;
	display: block;
	width: 100%;
	padding: 10px 32px;
	font-size: 16px;
	color: #555;
}

.search-form .inner-form .input-field input.placeholder {
	color: #888;
	font-size: 16px;
}

.search-form .inner-form .input-field input:-moz-placeholder {
	color: #888;
	font-size: 16px;
}

.search-form .inner-form .input-field input::-webkit-input-placeholder {
	color: #888;
	font-size: 16px;
}

.search-form .inner-form .input-field input:hover,
.search-form .inner-form .input-field input:focus {
	box-shadow: none;
	outline: 0;
	border-color: #fff;
}

.search-form .inner-form .input-field.first-wrap {
	width: 200px;
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.search-form .inner-form .input-field.first-wrap .choices__inner {
	background: transparent;
	border-radius: 0;
	border: 0;
	height: 100%;
	color: #fff;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 30px;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__inner
	.choices__list.choices__list--single {
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__inner
	.choices__item.choices__item--selectable.choices__placeholder {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	opacity: 1;
	color: #888;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__inner
	.choices__list--single
	.choices__item {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
	color: #555;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices[data-type*="select-one"]:after {
	right: 30px;
	border-color: #e5e5e5 transparent transparent transparent;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__list.choices__list--dropdown {
	border: 0;
	background: #fff;
	padding: 20px 30px;
	margin-top: 2px;
	border-radius: 4px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__list.choices__list--dropdown
	.choices__item--selectable {
	padding-right: 0;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__list--dropdown
	.choices__item--selectable.is-highlighted {
	background: #fff;
	color: #63c76a;
}

.search-form
	.inner-form
	.input-field.first-wrap
	.choices__list--dropdown
	.choices__item {
	color: #555;
	min-height: 24px;
}

.search-form .inner-form .input-field.second-wrap {
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.search-form .inner-form .input-field.third-wrap {
	width: 74px;
}

.search-form .inner-form .input-field.third-wrap .btn-search {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	color: #fff;
	border: 0;
	cursor: pointer;
	background: #f7b73c;
	transition: all 0.2s ease-out, color 0.2s ease-out;
}

.search-form .inner-form .input-field.third-wrap .btn-search svg {
	width: 16px;
}

.search-form .inner-form .input-field.third-wrap .btn-search:hover {
	background: #e5462b;
}

.search-form .inner-form .input-field.third-wrap .btn-search:focus {
	outline: 0;
	box-shadow: none;
}
